<launch>
  <param name="/shuttle_finder/offset_x" value="0.05" />
  <param name="/shuttle_finder/offset_y" value="-0.425" />
  <param name="/shuttle_finder/offset_z" value="1.026" />
  <param name="/shuttle_finder/hight_low" value="1.5" />
  <param name="/shuttle_finder/hight_high" value="2.8" />
  <node name="shuttle_finder" pkg="shuttle_finder" type="shuttle_finder" />
</launch>
