<launch>
  <param name="/shuttle_finder/offset_x" value="0.05" />
  <param name="/shuttle_finder/offset_y" value="0.3018" />
  <param name="/shuttle_finder/offset_z" value="0.214" />
  <param name="/shuttle_finder/hight_low" value="2.05" />
  <param name="/shuttle_finder/hight_high" value="10.0" />
  <node name="shuttle_finder" pkg="shuttle_finder" type="shuttle_finder" />
</launch>
