<launch>

  <include file="$(find laser2location)/launch/laser.launch"/>

  <node name="canusb" pkg="canusb" type="nhk2015_back.py" />

  <node name="shuttle_finder" pkg="shuttle_finder" type="shuttle_finder" />
  <node name="shuttle_kalman" pkg="shuttle_kalman" type="shuttle_kalman.py" />
  <node name="shuttle_kalman_disp" pkg="shuttle_kalman" type="display.py" />
  <node name="shuttle_kalman_pose" pkg="shuttle_kalman" type="calc_pose.py" />

  <node name="deadreckoning" pkg="deadreckoning" type="deadreckoning" />

</launch>
