<launch>

  <include file="$(find laser2location)/launch/laser.launch"/>

  <node name="canusb" pkg="canusb" type="nhk2015_back.py" />

  <include file="$(find shuttle_finder)/launch/shuttle_finder_pcl.launch"/>
  <node name="shuttle_kalman" pkg="shuttle_kalman" type="shuttle_kalman.py" />
  <node name="shuttle_kalman_disp" pkg="shuttle_kalman" type="display.py" />
  
  <node name="arm_pose" pkg="robominton" type="arm_pose.py" />

  <node name="deadreckoning" pkg="deadreckoning" type="deadreckoning" />

</launch>
