<launch>
  
  <include file="$(find canusb)/launch/canusb.launch"/>
  <node name="canusb_nhk2015" pkg="canusb" type="nhk2015_back.py" />
  
  <node name="hokuyo_node" pkg="hokuyo_node" type="hokuyo_node" />
  <include file="$(find laser2location)/launch/laser.launch"/>
  <node name="laser_disp" pkg="laser2location" type="laser_disp" />
  <node name="deadreckoning" pkg="deadreckoning" type="deadreckoning" />

  <include file="$(find kondo)/launch/kondo.launch"/>
  <node name="kondo_nhk" pkg="kondo" type="nhk2015.py" />

  <node name="kinectv2" pkg="kinectv2" type="kinectv2" />
  <param name="/shuttleFinder/debug" value="true" />
  <include file="$(find shuttle_finder)/launch/shuttle_finder_pcl.launch"/>
  <node name="shuttle_kalman" pkg="shuttle_kalman" type="shuttle_kalman.py" />
  <node name="shuttle_kalman_disp" pkg="shuttle_kalman" type="display.py" />
  
  <node name="joy" pkg="joy" type="joy_node" />
  <node name="manual" pkg="robominton" type="manual" />
  <node name="arm_pose" pkg="robominton" type="arm_pose.py" />
  <node name="arm_disp" pkg="robominton" type="arm_disp.py" />

  <include file="$(find extdev)/launch/server.launch"/>

</launch>
