<launch>

  <node name="joy" pkg="joy" type="joy_node" />
  <node name="hokuyo_node" pkg="hokuyo_node" type="hokuyo_node" />
  <node name="kinectv2" pkg="kinectv2" type="kinectv2" />
  

  <include file="$(find laser2location)/launch/third.launch"/>
  <node name="laser_disp" pkg="laser2location" type="laser_disp" />

  <include file="$(find canusb)/launch/canusb.launch"/>
  <node name="canusb_third" pkg="canusb" type="nhk2015_third.py" />

  <param name="/shuttleFinder/debug" value="true" />
  <include file="$(find shuttle_finder)/launch/third.launch"/>
  <node name="shuttle_kalman" pkg="shuttle_kalman" type="shuttle_kalman.py" />
  <node name="shuttle_kalman_disp" pkg="shuttle_kalman" type="display.py" />
  
  <node name="third_pose" pkg="robominton" type="third.py" />
  <include file="$(find deadreckoning)/launch/deadreckoning_with_laser.launch"/>

  <node name="manual" pkg="robominton" type="manual" />

  <include file="$(find kondo)/launch/third.launch"/>

  <param name="/servonhk/angle" value="0.8" />
  <node name="servonhk" pkg="kondo" type="nhk2015.py" />
  

</launch>
